:root {
  --brand-color-white: #ffffff;
  --brand-color-gray: #e5e5e5;
  --brand-color-black2: rgba(33, 33, 33, 1);
  --brand-color-blue: #2196f3;
  --brand-color-gray2: #757575;
  --brand-color-dark: #2f303a;
  --brand-color-black: black;
}

body {
  color: var(--brand-color-black2);
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

.portfolio-bg {
  background-color: var(--brand-color-white);
}

.portfolio {
  list-style: none;
}

.top-section {
  background-color: var(--brand-color-white);
  display: flex 
}


.logo-header {
  font-size: 26px;
  color: var(--brand-color-blue);
  font-family: 'Raleway', sans-serif;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}

.logo-black {
  color: var(--brand-color-black);
}

.nav-list a {
  color: var(--brand-color-black2);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}

.nav-list li {
  list-style: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--brand-color-blue);
}

.contact-info a {
  font-size: 14px;
  color: var(--brand-color-gray2);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.contact-info {
  text-decoration-line: none;
}

.contact-info a:hover,
.contact-info a:focus {
  color: var(--brand-color-blue);
}

.link-contact a {
  font-size: 14px;
  color: var(--brand-color-gray2);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-decoration-line: none;
}

.link-contact a:hover,
.link-contact a:focus {
  color: var(--brand-color-blue);
}

.order h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color-white);
}

.order button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--brand-color-blue);
  color: var(--brand-color-white);
  border: var(--brand-color-blue);
}

.order {
  background-color: var(--brand-color-dark);
  color: var(--brand-color-white);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.order button:hover,
.order button:focus {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
}

.buttons-text {
  font-family: 'Roboto', sans-serif;
  background-color: var(--brand-color-gray);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
}

.buttons-text:hover,
.buttons-text:focus {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
}

.articles h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style-type: none;
}

.articles p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray2);
  list-style-type: none;
}

.about us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-part {
  background-color: var(--brand-color-white);
}

.john-doe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray2);
}

.profession {
  list-style: none;
}

.team {
  text-align: center;
  list-style: none;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray2);
}

.bottom {
  background-color: var(--brand-color-dark);
}

.logo-white {
  color: var(--brand-color-white);
}

.logo-footer {
  color: var(--brand-color-blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.list {
  list-style: none;
}

.our-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
  font-style: normal;
}

.contact-mail {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-tel {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-underline {
  text-decoration-line: underline;
}

.our-address a:hover,
.our-address a:focus {
  color: var(--brand-color-blue);
}
.address {
  font-style: normal;
}

 /* CONTENERS == FLEXBOX */

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.nav-continer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display:flex
  
}