:root {
  --brand-color-white: #ffffff;
  --brand-color-gray: #e5e5e5;
  --brand-color-black2: rgba(33, 33, 33, 1);
  --brand-color-blue: #2196f3;
  --brand-color-gray2: #757575;
  --brand-color-dark: #2f303a;
  --brand-color-black: black;
}

body {
  color: var(--brand-color-black2);
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}
.logo-header {
  font-size: 26px;
  color: var(--brand-color-blue);
  font-family: 'Raleway', sans-serif;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  margin-right: 93px;
}

.logo-black {
  color: var(--brand-color-black);
}

.top-section {
  background-color: var(--brand-color-white);
  padding: 24px 0px;
}

.portfolio-bg {
  background-color: var(--brand-color-white);
}

.portfolio {
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  gap: 30px;
  text-align: center;
  margin-bottom: 94px;
  list-style: none;
  margin-top: 56px;
}
.portfolio li {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}

.nav-list a {
  color: var(--brand-color-black2);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}

.nav-list li {
  list-style: none;
  margin: 24px;
}
.nav-list ul {
  display: flex;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--brand-color-blue);
}

.nav-list {
  display: flex;
}
.line-nav {
  border-bottom: 1px solid #ececec;
}

.nav-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
}

.contact-info a {
  font-size: 14px;
  color: var(--brand-color-gray2);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;

  margin-left: 50px;
}
.contact-info {
  text-decoration-line: none;
}

.contact-info a:hover,
.contact-info a:focus {
  color: var(--brand-color-blue);
}

.link-contact a {
  font-size: 14px;
  color: var(--brand-color-gray2);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-decoration-line: none;
  margin-left: 50px;
}

.link-contact a:hover,
.link-contact a:focus {
  color: var(--brand-color-blue);
}

.order h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color-white);
}

.order button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  background: var(--brand-color-blue);
  color: var(--brand-color-white);
  border: var(--brand-color-blue);
}

.order {
  background-color: var(--brand-color-dark);
  color: var(--brand-color-white);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 200px 0px;
}

.order button:hover,
.order button:focus {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
}

.buttons-text {
  font-family: 'Roboto', sans-serif;
  background-color: var(--brand-color-gray);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  margin: 4px;
}

.buttons-text:hover,
.buttons-text:focus {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 84px;
}

.articles h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style-type: none;
}

.articles p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray2);
  list-style-type: none;
}

.articles {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 94px 0 0;
}

.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  padding: 0;
}

.main-part {
  background-color: var(--brand-color-white);
}

.john-doe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray2);
}

.profrssion-image {
  background-color: #e5e5e5;
}
.team {
  text-align: center;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 94px;
}

.team li {
  gap: 30px;
  margin: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--brand-color-white);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray2);
}

.bottom {
  background-color: var(--brand-color-dark);
  padding: 60px 60px;
}
.logo-white {
  color: var(--brand-color-white);
}

.logo-footer {
  color: var(--brand-color-blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 60px;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.list {
  list-style: none;
}

.our-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
  font-style: normal;
  margin: 20px 0 60px;
  padding: 0;
}
.our-address a:hover,
.our-address a:focus {
  color: var(--brand-color-blue);
}

.our-address ul {
  margin: 0px;
  padding: 0px;
}

.our-address li {
  margin-bottom: 6px;
}

.address {
  font-style: normal;
}
.contact-mail {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-tel {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-underline {
  text-decoration-line: underline;
}

.profession {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 84px;
}

.team {
  display: flex;
  padding: 0px;
}

.our-team {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.our-team-figure {
  margin: 0;
}
